:root {
  --primary-color: #C92071;
  --secondary-color: #B5B6F2;
  --tertiary-color: #991956;
  --error-color: #EE4266;
  --success-color: #52CA76;
  --warning-color: #F6AA1C;
  --primary-gradient: linear-gradient(180deg, #C92071 0%, #EDABCA 100%);
  --secondary-gradient: linear-gradient(180deg, #B5B6F2 0%, #EFEFFF 100%);
  --dark-gray: #1F1F1F;
  --dark-gray-2: #474747;
  --dark-gray-3: #666666;
  --light-gray: #8F8F8F;
  --light-gray-2: #cccccc;
  --light-gray-3: #F5F5F5;
  --color-white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: linear-gradient(180deg, rgba(181,182,242,1) 0%, rgba(239,239,255,1) 100%) no-repeat;
  display: flex;
  flex-direction: column;
}

.main-header {
  background-color: var(--color-white);
}

.main-header__container {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  padding: 25px 100px;
  gap: 10px;
}

main {
  flex-grow: 1;
}

.logo-title {
  font-size: 24px;
}

.main-header img {
  display: block;
}

.form-login {
  display: flex;
  flex-direction: column;
}

.btn {
  width: 100%;
}

footer {
  height: 454px;
  background-color: var(--dark-gray);
  flex-shrink: 1;
}