* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #edecec;
  min-height: 100vh;
  font-size: 1.6rem;
  max-width: 90vw;
  margin: 2rem auto;
}

span {
  font-weight: bold;
}

.main-title {
  color: #6666cc;
  margin-bottom: 2em;
}

.subtitle {
  color: #9999FF;
  margin-bottom: 1em;
}

.news {
  color: #808080;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: .75em;
}

.article-title {
  color: #6666cc;
  margin-bottom: 1em;
  margin-top: 1em;
}

img {
  width: 460px;
  height: 350px;
  text-align: left;
  float: left;
  margin-right: 2em;
}

p a {
  color: #ff0000;
  font-weight: bold;
  margin-bottom: 0;
  display: inline-block;
}

.article-content {
  margin-bottom: 1.25em;
}

.final {
  padding-top: 1em;
  margin-top: 2em;
}